:root {
  /* Colors */
  --dark-grey: #1F2937;
  --ghost-white: #F9FAF8;
  --light-gray: #E5E7EB;
  --primary-blue: #3882F6;
}

body {
  width: 100vw;
  height: 1912px;
  font-family: "Roboto", sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#header {
  background-color: var(--dark-grey);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ghost-white);
  padding: 0 16%;
}

#header div {
  font-size: 22px;
  font-weight: 700;
}

#navbar--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#navbar--links a{
  color: var(--ghost-white);
  font-size: 16px;
}


.hero-section {
  background-color: var(--dark-grey);
  width: 100%;
  height: 475px;
}

.info-section{
  background-color: var(--ghost-white);
  width: 100%;
  height: 475px;  
}

.quote-section {
  background-color: var(--light-gray);
  width: 100%;
  height: 475px;
}

.cta-section {
  background-color: var(--ghost-white);
  width: 100%;
  height: 307px;
}

.footer {
  background-color: var(--dark-grey);
  width: 100%;
  height: 100px;
}


