:root {
  /* Colors */
  --dark-grey: #1F2937;
  --ghost-white: #F9FAF8;
  --light-gray: #E5E7EB;
  --primary-blue: #3882F6;
  --slate-gray: #6D747D;
}

body {
  width: 100vw;
  height: 1912px;
  font-family: "Roboto", sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#header {
  background-color: var(--dark-grey);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--ghost-white);
  padding: 0 16%;
}

#header div {
  font-size: 22px;
  font-weight: 700;
}

.navbar--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar--links a{
  color: var(--ghost-white);
  font-size: 16px;
}

.hero-section {
  background-color: var(--dark-grey);
  width: 100%;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 16%;
}

.hero--info, .hero--img-placeholder {
  width: 50%;
  height: 100%;
}

.hero--info {
  padding: 0 10% 0 0;
}

#main-title {
  font-size: 62px;
  color: var(--ghost-white);
  font-weight: 900;
  line-height: 62px;
}

.hero--text {
  font-size: 20px;
  color: var(--ghost-white);
}

.hero--img-placeholder {
  background-color: var(--slate-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ghost-white);
  font-size: 16px;
}

.hero--btn, .cta-btn button {
  border: none;
  margin-top: 12px;
  background-color: var(--primary-blue);
  color: var(--ghost-white);
  width: 150px;
  height: 36px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

.info-section{
  background-color: var(--ghost-white);
  width: 100%;
  min-height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.info--title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 35%;
  font-size: 36px;
  color: var(--dark-grey);
  font-weight 900;
}

.info--cards {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.info--card-image {
  width: 125px;
  height: 125px;
  border: 3px solid var(--primary-blue);
  border-radius: 12px;
}

.info--card-caption {
  margin-top: 4px;
  width: 125px;
  font-size: 13px;
  text-align: center;
}

.quote-section {
  background-color: var(--light-gray);
  color: var(--dark-grey);
  width: 100%;
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {  
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  width: 42%;
}

.quote-author {
  text-align: right;
  font-size: 18px;
  font-weight: 900;
  width: 36%;
}

.cta-section {
  background-color: var(--ghost-white);
  width: 100%;
  height: 307px;
  padding: 4% 16%;
}

.cta {
  background-color: var(--primary-blue);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
}

.cta-text {
  color: var(--ghost-white);
}

.cta-text h2{
  font-size: 22px;
  font-weight: 700;
}

.cta-text p {
  font-size: 16px;
}

.cta-btn button {
  border: 2px solid var(--ghost-white);
  color: var(--ghost-white);
}

.footer {
  background-color: var(--dark-grey);
  color: var(--ghost-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}

.footer--text {
  font-size: 16px;
  color: var(--slate-gray);
}

.footer--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer--icons svg {
  width: 36px;
  height: auto;
  fill: var(--slate-gray)
}

